<ion-header>
  <ion-toolbar>
    <ion-title>
      Reliable Passengers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
     <ion-list-header>
      <ion-label>Yours passenger list now (14:19 PM)</ion-label>
    </ion-list-header>
    <ion-item href="#">
      <ion-thumbnail slot="start">
        <ion-img src="https://picsum.photos/id/374/64/64"></ion-img>
      </ion-thumbnail>
      <ion-label>Picked up at 21:00 PM</ion-label>
      <ion-icon name="time"></ion-icon>
    </ion-item>
    <ion-item href="#">
      <ion-thumbnail slot="start">
        <ion-img src="https://picsum.photos/id/374/64/64"></ion-img>
      </ion-thumbnail>
      <ion-label>Picked up at 21:00 AM</ion-label>
      <ion-icon name="time"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
